
main {
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	bottom: 200px;
}

#top-bg {
	background: rgb(79,125,163);
	margin: 0;
	height: 280px;
	background: linear-gradient(rgb(79,125,163), black 300%);
}

#col-1 {
	display: inline-block;
	width: 40%;
}

#col-2 {
	display: inline-block;
	width: 50%;
}

#home-img {
	display: inline-block;
	padding: 0 5px 0 0;
	margin-right: 5px;
	float: left;
}

#brand-img {
	position: relative;
	top: 0;
	margin-right: 32px;
}

#frame {
	background-image: url(../images/frame.png);
	background-size: cover;
	padding: 15px;
	width: 90%;
}

.brand-container {


}

button {
	display: inline-block;
	float: right;
	margin-top: 20px;
	padding: 8px 12px 8px 8px;
	border-radius: 3px;
	background: linear-gradient(rgb(103,145,178), rgb(59,113,154));
	border: 1px solid rgb(40, 93, 135);
	outline: none;

}

button p {
	display: inline-block;
	padding: 3px 0 0 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: .5px;
}