
/*-- Main --*/

main {
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	width: 90%;
	margin: 0 auto;
	position: relative;
	bottom: 200px;
}

h1 {
	color: rgb(20,66,105);
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-bottom: 8px;
}

/*-- Footer List Items --*/

ul{
	display: inline-block;
}

li {
	display: inline-block;
}

/*-- Top Background --*/

#top-bg {
	background: rgb(79,125,163);
	margin: 0;
	height: 280px;
	background: linear-gradient(rgb(79,125,163), black 300%);
}

/*-- Colums --*/

#col-1 {
	display: inline-block;
	float: left;
	width: 35%;
	padding-left: 20px;
	margin-bottom: 40px;
}

#col-2 {
	display: inline-block;
	float: right;
	width: 53%;
	padding-right: 95px;
	margin-bottom: 40px;
}

/*-- Images --*/

#home-img {
	display: inline-block;
	padding: 0 5px 0 0;
	margin-right: 5px;
	float: left;
}

#brand-img {
	position: relative;
	top: 0;
	margin-right: 32px;
}

/*-- Frame --*/

#frame {
	background-image: url(../images/frame.png);
	background-size: 100% 100%;
	padding: 50px 80px 50px 70px;
}

#frame p {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4;
}

/*-- Branding --*/

#brand-container {
	padding: 0 8px 0 5px;
}

#badge-container {
	margin-top: 60px;
	
}

#badge-container img {
	margin-right: 18px;
}

/*-- Footer --*/

#footer-container {
	padding-right: 100px;
	text-align: center;
	clear: both;
}

#footer-container a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: rgb(101,142,176);
	margin-right: 15px;
	letter-spacing: -.5px;
}

#footer-container p {
	display: inline-block;
}

/*-- Copyright --*/

#copy-right {
	color: #aaa;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding-left: 10px;
}

/*-- Button --*/

button {
	display: inline-block;
	float: right;
	margin-top: 20px;
	padding: 10px 13px 10px 9px;
	border-radius: 3px;
	background: linear-gradient(rgb(103,145,178), rgb(59,113,154));
	border: 1px solid rgb(40, 93, 135);
	outline: none;

}

button p {
	display: inline-block;
	padding: 3px 0 0 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: .5px;
}


























